@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500;700&display=swap');

$fontcolor: var(--font--color);
$bgcolor: var(--bg-color);
$fontfamily: 'IBM Plex Sans', sans-serif;
$sfont: normal normal 300 0.875rem $fontfamily;
$mfont: normal normal 500 1rem $fontfamily;
$lfont: normal normal 700 1.2rem $fontfamily;
$xlfont: normal normal 700 1.6rem $fontfamily;
$slineheight: 1.6;
$mlineheight: 1.4;
$llineheight: 1.2;
$xllineheight: 1;

h1 {
  font: $lfont;
  line-height: $llineheight;
}

body {
  font: $mfont;
  line-height: $mlineheight;
  // color: $fontcolor;
}
