@import '../styles/global';

#home {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#carousel {
  // width: inherit;
}

.showsContainer {
  // overflow: scroll;
}

#reviewsContainer {
  max-height: 150vh;
  overflow: scroll;
  max-width: 80vw;
}
