.showsContainer {
  display: flex;
  align-self: center;
}

.imgContainer {
  display: flex;
  justify-content: space-between;
  width: 250px;
  height: 400px;
  margin: 20px;
}

.showsPhoto {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.showsButton {
  color: var(--font-color);
}
