#reviews {
  display: flex;
  flex-direction: column;
}

#outerReviewsContainer {
  display: flex;
  flex-direction: column;
}

#innerReviewsContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  overflow: scroll;
  scroll-behavior: smooth;
  height: 800px;
  width: 1500px;
}

.layoutSize {
  width: 60%;
  margin: 0 auto;
  max-width: 1000px;
}
