.container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.reviewContainer {
  display: flex;
  padding: 24px;
  min-height: 120px;
  justify-content: space-between;
}

.ratingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  flex-direction: column;
}

#upVote{
  color: green
}

#downVote {
  color: red;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review {
  // border: 1px solid black;
  text-align: justify;
  text-justify: inter-word;
}

.read {
  color: rgb(149, 148, 160);
  cursor: pointer;
}

.link {
  color: inherit;
  text-decoration: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 10px;
}

.showPhotoContainer{
  height: 16px;
  width: 16px;
  border-radius: 50%;
}
.showPhoto{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
