$bg-color: #f9f9f9;
$border-color: #ebebea;
$brand-color: #e2a850;
$font-color: #130d03;

:export {
  bgcolor: $bg-color;
  bordercolor: $border-color;
  brandcolor: $brand-color;
  fonrtcolor: $font-color;
}
