.addReviewContainer {
  padding: 24px 48px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  width: 74%;
  // border: 2px solid black;
}

.ratingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rating {
  padding-right: 20px;
}
