#mainContainer {
  height: 0;
  padding-bottom: calc(56.25%);
  position: relative;
  width: 100%;
  pointer-events: unset;
}

#videoContainer {
  border: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
