:root {
  --bg-color: #e9e9e9;
  --border-color: #c7c7c4;
  --brand-color: #2274a5;
  --font-color: #0f0f0e;
}

body {
  margin: 0px;
  background-color: var(--bg-color);
  color: var(--font-color);
}
