:root {
  --bg-color: #121212;
  --border-color: #c7c7c4;
  --brand-color: #2274a5;
  --font-color: #fcf6ed;
}

body {
  margin: 0px;
  background-color: var(--bg-color);
  color: var(--font-color);
}
